@import "tailwindcss";

#root {
  font-family: "Inter", sans-serif;
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;

  box-sizing: border-box;
}

body {
  margin: 0;
}
